* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    vertical-align: top;
}

#lottery-roulette {
    width: 292px;
    margin-top: 50px;
    position: relative;
}

.arrow {
    width: 82px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button {
    margin: 15px 50px;
}

#canvas-wrap {
    width: 640px;
    margin: 100px auto;
    position: relative;
    .pointer-icon {
        width: 164px;
        height: 222px;
        background-image: url('./images/arrow.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
canvas {
    width: 640px;
    height: 640px;
    vertical-align: top;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    .btn {
        padding: 10px 20px;
        border-radius: 10px;
        background-color: green;
        color: #FFF;
        margin: 20px;
    }
}

